.acme-body {
	margin: 20px;
}

.pagebanner, .pagelinks {
	background: none;
	border: none;
}

.displaytag {
	background: red;
}

.navbar {
	font-size: 2em;
    font-weight: bold;
    padding: 0.5em 0 0.2em;
}

.front-page {
	display: block;
	text-align: center;
}